body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;
}

.titulo {
    font-size: 26px;
    text-align: center;
    position: relative;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
    margin-top: 10%;
}

.nelio {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
    margin: 0;
}

/* Configuração do menu superior */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: snow;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Configuração dos links */
a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.bairro {
    margin: 5%;
    text-align: justify;
    margin-top: 15%;
}

.texto-lagoa-azul {
    font-size: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
}

img {
    margin-left: 5%;
}

footer {
    padding: 10%;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
}

@media (min-width: 768px) {
    .texto-lagoa-azul {
        font-size: 22px;
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 1.5;
    }
}

@media (min-width: 1500px) {
    a {
        text-decoration: none;
        color: black;
        margin: 0 15px;
        padding: 10px;
        font-size: 22px;
        text-align: center;
    }

    footer {
        padding: 10%;
        font-size: 14px;
    }

    .texto-lagoa-azul {
        font-size: 24px;
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        line-height: 1.5;
    }

    footer {
        padding: 10%;
        font-size: 20px;
    }
}